<div class="container mt-5">
  <h1>CV</h1>
  <p>Patrik Svensson<br>
    1992-10-26<br>
    Epost: patrik.svensson@bringles.se<br>
    </p>
  <h2>Erfarenhet</h2>
  <h5>Mjukvarutestare & Testanalytiker, KIKS juni 2011 – oktober 2015</h5>
  <p>Anställd som IT-konsult hos KIKS, på uppdrag hos CRAMO under hela perioden. Arbetade mest med användarbaserade tester samt framställde testfall utifrån SPEC:en. CRAMO är ett internationellt företag så kommunikationen skedde främst på engelska.</p>
  <h5>Supporttekniker, Loopia november 2016 – oktober 2020</h5>
  <p>Hos Loopia så jobbade jag med kundsupport via telefon, chat och e-post. Hjälpte kunder med allt ifrån felsökning av websidor, DNS och e-post till uppsättning av domännamn, SSL-certifikat, VPS, Microsoft 365 med mer.</p>
  <h2>Utbildning</h2>
  <p>Gymnasieexamen, IT-Gymnasiet Västerås 2011</p>
  <h2>Språkkunskaper</h2>
  <p>Svenska, modersmål<br>Engelska, mycket goda kunskaper i såväl tal som skrift</p>
  <h2>Referenser</h2>
  <p>Lämnas på begäran</p>
</div>