<div class="container mt-5">
  <p class="center">Mitt namn är Patrik Svensson, jag är 28 år gammal och bor i Västerås. Jag har tidigare jobbat som mjukvarutestare i fyra år och som supporttekniker i fyra år.
    Fritiden ägnar jag främst åt gaming, umgås med vänner och att resa om tillfälle ges. Jag bodde i Sitges, Barcelona i ett år under min tid som supporttekniker vilket var en häftig upplevelse.
    I arbetslivet gör jag hellre något en gång ordentligt än två gånger slarvigt. Jag brukar beskrivas som lätt att ha att göra med och försöker alltid se till så att det är god stämning runtom mig.
  </p>
</div>